{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  
  
  
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>
  
  <script type="text/javascript" src="/public/javascripts/application.js"></script>
  
  
  
 

  
{{/head}}

{{$propositionHeader}}
  
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}



	
	
<main id="wrapper" role="main">
  <div id="content">
    <div class="inner-block">




    <div id="top-ui-bits" style="padding-top:0.5em">
		<div class="" style="float:left">
			
				<a class="back-to-previous" href="vdl-start-simple">Back <span class="visuallyhidden"> to start page</span></a>

	    </div>

	    <div style="float:right;padding-top:1.2em">
	    <fieldset>
			<!-- <div>
			<a href="#" class="button" style="margin-right:0">Logout</a>
			</div> -->
		</fieldset>
	    </div>

		<br clear="both" />
	</div>
		

		
	<article>
	
	
	<h2 class="heading-large" style="margin-top:1em">
	View driving licence
	</h2>


	
	<p>You have a choice how you view your driving licence information.</p>
		
		



	<div id="" class="grid-row">
		<div class="column-half">

		<h2 class="heading-medium">Using your personal details</h2>

		<p>You will need:
			<ul>
				<li class="list-bullet" style="margin-bottom:0.5em">your driving licence number</li>
				<li class="list-bullet" style="margin-bottom:0.5em">your <a href="#">National Insurance number</a></li>
				<li class="list-bullet" style="margin-bottom:0.5em">the postcode on your driving licence</li>
			</ul>
		</p>

		<div class="form-group">
		<a href="#" class="button">Continue</a>
		</div>

		</div>

		<div class="column-half">

		<h2 class="heading-medium">Using a GOV.UK Verify account</h2>

		
		<img src="/public/images/verify-logo-black-on-white.png" width="204" height="147" style="margin-bottom:1em" />

		<div class="form-group">
		<a href="#" class="button">Continue using Verify</a>
		</div>


		<p>If you've not been verified before you'll need:
		<ul>
			<li class="list-bullet" style="margin-bottom:0">a valid UK passport or UK photocard driving licence</li>
			<li class="list-bullet" style="margin-bottom:0">access to your financial records</li>
		</ul>
		</p>

		

		</div>
	</div>

</article>		

                

    </div>
  </div>
</main>
{{/content}}

{{/govuk_template}}
