{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  
  
  
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>
  
  <script type="text/javascript" src="/public/javascripts/application.js"></script>

  <script type="text/javascript" src="/public/javascripts/jquery.tabs.js"></script>
  
  
  
 

  
{{/head}}

{{$propositionHeader}}
  {{>includes/propositional_vdl}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}



	
	
<main id="wrapper" role="main">
  <div id="content">
	<article>

		<h2 class="heading-xlarge">Buying a car</h2>


		<div>    
		    <!-- <h2 class="heading-medium">Person buying a car</h2>

		    <ul class="ul-data">
				<li class="visuallyhidden"><span>Name</span><strong> Paul Pod</strong></li>

		        <li><span>Address</span><strong>38 North Street, Fritwell<br />BICESTER OX27&nbsp;7QR</strong></li>

		        <li><span>Optional information</span></li>

		        <li><span>Date of birth</span><strong>1 Oct 1972</strong></li>
		        <li><span>Driver number</span><strong>MORGA657054SM9IJ</strong></li>
		        <li><span>Email</span><strong>paulpod@mac.com</strong></li>
		        <li><span>Fleet number</span><strong>C48392</strong></li>

		    </ul> -->

		    <p>Are you the buyer?</p>

		    <p>[ X Yes ]  [ . No ]</p>


		    <p>Are you a business?</p>

		    <p>[ . Yes ]  [ X No ]</p>



		    <p>
		    <span>Buyer details</span>
		    <span>Paul Cleghorn</span>
		    <span><a href="#">Change</a></span>
		    </p>


		    <p>Are you trading in a car at the same time?</p>

		    <p>[ X Yes ]  [ . No ]</p>


		    <p class="summary-step">
		    <span>Traded vehicle details</span>
		    <span class="car-reg">K331 VPM</span> <span>1992  Honda  Concerto</span>
		    <span style="float:right"><a href="#" style="float:right">Change</a></span>
		    </p>


		    <p>Do you want to retain the vehicle registration (number plate)?</p>

		    <p>[ X Yes ]  [ . No ]<br />

		    <span class="form-hint">Eg. to transfer a cherished number plate to another vehicle</p>


		    <p>
		    <span>Retained vehicle registration number</span>
		    <span class="car-reg">K331 VPM</span> <span>1992  Honda  Concerto</span>
		    <span style="float:right"><a href="#">Change</a></span>
		    </p>


		    <p>
		    <span>Buyer details</span>
		    <span>Paul Cleghorn</span>
		    <span><a href="#">Change</a></span>
		    </p>


		    <p>
		    <span>Buyer details</span>
		    <span>Paul Cleghorn</span>
		    <span><a href="#">Change</a></span>
		    </p>


		    <p>
		    <span>Buyer details</span>
		    <span>Paul Cleghorn</span>
		    <span><a href="#">Change</a></span>
		    </p>






		    <!-- <h2 class="heading-medium">Licence details</h2>
		    <ul class="ul-data">
		        <li><span>Driving status</span><strong>You have a full driving licence</strong></li>
		        
		        <li><span>Licence valid from</span><strong>15 Oct 2013</strong></li>
		        
		        <li><span>Licence valid to</span><strong>22 Dec 2014</strong></li>
		        
		        <li><span>Driving licence number</span><strong>CLEGH710023PJ7BL</strong></li>
		        
		        <li><span>Licence issue number</span><strong>12</strong></li>
		        
		    </ul> -->
	    </div>
  





	



		</article>		
	</div>
</main>
{{/content}}

{{/govuk_template}}
