{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>
  
  <script type="text/javascript" src="/public/javascripts/application.js"></script>
  
{{/head}}

{{$propositionHeader}}
  {{>includes/govuk_navigation_searchbox}}
{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}



	
<main id="wrapper" role="main">
	<div id="content">
	    <div class="inner-block">

				<div id="global-breadcrumb" class="header-context">
			      <nav role="navigation">
			        <ol class="group">
			          <li><a href="#">Home</a></li>
			          <li><a href="#">Driving and transport</a></li>
					  <li><a href="#">Number plates and vehicle registration</a></li>
			        </ol>
			      </nav>
			    </div>
		
		
		
				<div id="block-a">
				<div style="width:60%;float:left">

				<h1 class="heading-xlarge">Sell a vehicle into the motor trade</h1>
		
				<h2 class="heading-medium">Your dealer may do this for you</h2>
		
				<p>This service is intended for use by professionals in the motor trade, insurance companies or scrap dealers to transfer registration of vehicles entering their responsibility.</p>


				</div>


				<div style="width:31.5%;float:right">
					<nav class="popular-needs"><ul class="top-tasks" style="margin-top:38px">
						<li><a href="https://www.gov.uk/vehicle-registration">Vehicle registration</a></li>
						<li><a href="https://www.gov.uk/change-name-address-v5c">Change the name and address on a V5C vehicle registration certificate (log book)</a></li>
			        <li><a href="https://www.gov.uk/vehicle-registration-certificate-v5c-log-book">Get a V5C vehicle registration certificate (log book)</a></li>
			        </nav>

				</div>

				<br clear="both" />
			</div>


			<div id="block-b">
				<div>

					<a href="transfer-1" class="button-get-started button" style="padding-right:2em;margin-top:25px">Start now</a>

				</div>

				<div>

				<h2 class="heading-medium" style="margin-top:25px">You'll need</h2>

				<ul>
					<li class="list-bullet" style="margin-bottom:0">the most recent vehicle registration certificate (V5C)</li>
					<li class="list-bullet">to transfer a personal registration number if the keeper wishes to retain it</li>
				</ul>

				</div>

			</div>


			<div id="block-c" class="grid-row">
				<div class="column-two-thirds" style="margin-right:1em">

				<h2 class="heading-medium">Vehicle tax refunds</h2>
		
				<p>DVLA will issue an automatic refund for any full remaining months of vehicle tax to the address on the V5C, and any direct debit (DD) will also be cancelled.</p>
		
				<h2 class="heading-medium">If you are not in the motor trade</h2>
		
				<p>There are separate directions for members of the public buying or selling cars. It's important you don't transfer registration of your vehicle until you are ready to. Your dealer may help you with this process.</p>
		
				<p><a href="https://www.gov.uk/notifying-dvla-if-you-sell-your-vehicle">Telling the DVLA if you sell your vehicle</a></p>
		
				<p><a href="https://www.gov.uk/government/publications/application-to-transfer-or-retain-a-vehicle-registration-number">Transfer or retain a vehicle registration number</a></p>
		
				</div>
			</div>
	    </div>
	</div>
</main>
{{/content}}

{{/govuk_template}}
