{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>
  
  <script type="text/javascript" src="/public/javascripts/application.js"></script>
  
{{/head}}

{{$propositionHeader}}

{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}



	
	
<main id="wrapper" role="main">
  <div id="content">
    <div class="inner-block">


		<a class="back-to-previous" href="transfer-1">Back <span class="visuallyhidden"> to the previous question</span></a>

        <h2 class="heading-large">
          Select trader address
        </h2>
		
		
		
		<p>
			<span>Trader name</span><br />
			<span class="details" style="font-weight:700;text-transform:capitalize">bob's motors</span>
		</p>
		
		
		<p>
			<span>Postcode</span><br />

			<span class="postcode" style="font-weight:700;text-transform:capitalize">{{playback-postcode}}</span>

			<a href="transfer-1" class="change-postcode-button" style="padding-left:3em">
				Change<span class="visuallyhidden"> postcode</span>
			</a>
		</p>
		
		
		

        <form action="get" class="form">


			

          <!-- Compound form controls -->
		  
		  
		  
		  
		  
		  
		  <fieldset>
		          <input type="hidden" id="address_postcode" name="address.postcode" value="SA15 5LP" class="text hidden">

		          <label for="address_uprn">
		              <span class="visuallyhidden">Select your </span>Address
		          </label>
		          <div class="validation-wrapper ">
		              <select id="address_uprn" name="address.uprn" class="lonely validate " data-validation-name="addressSelect" data-validation-type="field" data-validation-rules="nonEmpty">
		                  <option value="">4 addresses found</option>
		                  <option value="10009172278">Pantyffynnon Farm, Pontyberem, Llanelli, Carmarthenshire</option>
		                  <option value="10004881783">Plas Uchaf, Pontyberem, Llanelli, Carmarthenshire</option>
		                  <option value="10004881784">Ty Newydd Farm, Pontyberem, Llanelli, Carmarthenshire</option>
		                  <option value="10004881785">Tyn Ton Farm, Pontyberem, Llanelli, Carmarthenshire</option>
		              </select>
		          </div>
		      </fieldset>
			  
			  
			  
			  
			  <a href="transfer-2-manual">
			          I can’t find my address in the list<span class="visuallyhidden"> section</span>
			      </a>
		  
		  
		  
		  
		  
		  

          <fieldset>

       

           
            <div class="form-group">
				<a href="transfer-3" class="button">Next</a>
              <!-- <input type="submit" class="button" value="Next"> -->

            </div>

          </fieldset>

        </form>

    </div>
  </div>
</main>
{{/content}}

{{/govuk_template}}
