{{<govuk_template}}

{{$head}}
  {{>includes/elements_head}}
  
  <script type="text/javascript" src="/public/javascripts/jquery-1.11.0.min.js"></script>
  
  <script type="text/javascript" src="/public/javascripts/application.js"></script>
  
{{/head}}

{{$propositionHeader}}

{{/propositionHeader}}

{{$headerClass}}with-proposition{{/headerClass}}

{{$content}}


		
	
<main id="wrapper" role="main">
  <div id="content">


		<a class="back-to-previous" href="transfer-start">Back <span class="visuallyhidden"> to the previous question</span></a>

        <h2 class="heading-large">
          Provide trader details
        </h2>

        <form method="get" action="postcode" class="form">

          <fieldset>

             <div class="form-group form-group-compound">
              <label class="form-label" for="address-line-1">Trader name</label>
              <input type="text" class="form-control" id="trader-name">
            </div>
			

            <div class="form-group" style="padding-top:2em">
              <label class="form-label" for="postcode">Postcode</label>
              <input type="text" class="form-control form-control-1-4" id="postcode" name="postcode">
              <p class="form-hint">E.g. PR2 8AE or PR28AE</p>
            </div>


            <div class="form-group">
    					<input type="submit" class="button" value="Find address">
            </div>

          </fieldset>

        </form>

  </div>
</main>
{{/content}}

{{/govuk_template}}
